@import "bootstrap/scss/bootstrap";
@import "node_modules/@fortawesome/fontawesome-free/css/all.css";

img{
  max-width: 100%;
}

a{
  color: inherit;
  text-decoration: none;
  &:hover{
    color: #4154ff;
  }
}